{% extends 'base.html' %}
{% load static %}

    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/EditPost.css' %}">
    {% endblock %}

{% block content %}
    <h1>Edit Post</h1>

    <form method="POST" enctype="multipart/form-data">  <!-- Include enctype for file uploads -->
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" value="{{ post.title }}" class="form-control">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" name="description" class="form-control">{{ post.description }}</textarea>
        </div>
        <div class="form-group">
            <label for="image">Current Image</label>
            {% if post.image %}
                <div>
                    <img src="{{ post.image.url }}" alt="Current Image" style="max-width: 200px;">
                </div>
            {% else %}
                <p>No image uploaded.</p>
            {% endif %}
            <label for="image">Upload New Image (optional):</label>
            <input type="file" id="image" name="image" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Update Post</button>
        <!-- Cancel button -->
        <a href="{% url 'BlogDetail' id=post.blog.id %}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}
